@model ERAWeb.Models.UserModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/login.css" rel="stylesheet" />
<div class="container">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-8 mt-5">
                <div class="fadeInDown">
                    <form asp-controller="Profile" asp-action="Index" method="post" id="formProfile">
                        <div class="card mx-4">
                            <div class="card-body p-4">
                                <h1><i class="fa fa-address-card"></i>&nbsp;&nbsp;User Profile</h1>
                                <hr />
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            First Name
                                        </span>
                                    </div>
                                    <input class="form-control" asp-for="FirstName" name="FirstName" type="text" placeholder="First Name" id="txtFirstName" required>
                                    <div class="invalid-feedback">Please enter a First Name.</div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Last Name
                                        </span>
                                    </div>
                                    <input class="form-control" asp-for="LastName" name="LastName" type="text" placeholder="Last Name" id="txtLastName" required>
                                    <div class="invalid-feedback">Please enter a Last Name.</div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Company Name
                                        </span>
                                    </div>
                                    <input class="form-control" asp-for="CompanyName" name="CompanyName" type="text" placeholder="Company Name" id="txtCompanyName" required>
                                    <div class="invalid-feedback">Please enter a Company Name.</div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Employee Number
                                        </span>
                                    </div>
                                    <input class="form-control" asp-for="EmployeeNumber" name="EmployeeNumber" type="text" placeholder="Employee Number" id="txtEmployeeNumber" required>
                                    <div class="invalid-feedback">Please enter a valid Employee Number.</div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Email
                                        </span>
                                    </div>
                                    <input class="form-control" asp-for="Email" name="Email" type="email" placeholder="Email" id="txtEmail" required>
                                    <div class="invalid-feedback">Please enter a valid email address.</div>
                                </div>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            Password
                                        </span>
                                    </div>
                                    <input class="form-control" asp-for="Password" name="Password" type="text" placeholder="Password" id="txtPassword" required minlength="8">
                                    <div class="invalid-feedback">Password is mandatory with minimun 8 characters.</div>
                                    <input type="hidden" asp-for="UserId" name="UserId" />
                                </div>
                            </div>
                            <div class="card-footer p-4">
                                <div class="row">
                                    <div class="col-4"></div>
                                    <div class="col-4">
                                        <button class="btn btn-block btn-success btn-pill" type="submit" id="btnSubmit">Update</button>
                                    </div>
                                    <div class="col-4"></div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#btnSubmit").click(function (event) {

        // Fetch form to apply custom Bootstrap validation
        var form = $("#formProfile")
        if (form[0].checkValidity() === false) {
            event.preventDefault()
            event.stopPropagation()
        }

        form.addClass('was-validated');
        // Perform ajax submit here...

    });
</script>