
@{
    ViewData["Title"] = "Activate";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}
<div class="container-fluid">
    <div id="ui-view">
        <div>
            <div class="animated fadeInDown">
                <div class="row">
                    <div class="col-xl-2"></div>
                    <div class="col-sm-12 col-xl-8">
                        <div class="jumbotron">
                            <h1 class="display-3">Activate to Proceed!!</h1>
                            <p class="lead">
                                You will shortly receive an email in your registered email address.
                                After activating your account you will be able to login to the application, please click on the link mentioned in the email to activate you account.
                            </p>
                            <hr class="my-4">
                            <p>In case of any enquires, please write to us on <a href="mailto:xxxx@gmail.com">Admin</a></p>
                            <p class="lead">
                                <a class="btn btn-xing active mt-3" asp-controller="Account"
                                    asp-action="Login">Login Now!</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
