@model ERAWeb.Models.ResetPassword
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
    var loginURL = @Url.Action("Login", "Account");
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="fadeInDown">
                <form asp-controller="Account" asp-action="ForgotPassword" method="post" id="formForgotPassword">
                    <div class="card-group">
                        <div class="card text-white bg-primary py-5 d-md-down-none fadeIn fifth" style="width:25%">
                            <div class="card-body text-center">
                                <div class="text-value text-center"><i class="fa fa-user-lock fa-5x" aria-hidden="true"></i></div>
                            </div>
                        </div>
                        <div style="width: 50%;">
                            <div class="card-body fadeIn first">
                                <h1>Reset Password</h1>
                                <p class="text-muted">Reset your password.</p>
                                <div class="form-group input-group mb-4 fadeIn Second">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-users"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Email" class="form-control" type="email" id="txtEmail" name="Email" placeholder="Email" required>
                                    <div class="invalid-feedback">Please enter a valid email address.</div>
                                </div>
                                <div class="form-group input-group mb-4 fadeIn third">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Password" class="form-control" type="password" name="Password" placeholder="password" required minlength="8" id="txtPassword">
                                    <div class="invalid-feedback">Please enter password.</div>
                                </div>
                                <div class="form-group input-group mb-4 fadeIn fourth">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="fa fa-lock"></i>
                                        </span>
                                    </div>
                                    <input asp-for="Password" class="form-control" type="password" name="Password" placeholder="confirm password" required minlength="8" id="txtReenterPassword">
                                    <div class="invalid-feedback">Confirm password should match password.</div>
                                </div>
                                <div class="form-group row fadeIn fifth text-center">
                                    <div class="col-6">
                                        <button class="btn btn-block btn-primary px-4" id="btnSubmit" type="submit">Update</button>
                                    </div>
                                    <div class="col-6">
                                        <button class="btn btn-block btn-danger" type="button" id="btnCancel">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card text-white bg-primary py-5 d-md-down-none fadeIn fifth" style="width:25%">
                            <div class="card-body text-center">
                                <div class="text-value text-center"><i class="fa fa-user-check fa-5x" aria-hidden="true"></i></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {

         $("button#btnCancel").click(function () {
             alertify.confirm('Confirm', "Are you sure you want to exit?", function ()
             {
                 window.location.href = '@loginURL';
             }, function ()
                 { alertify.success('Please continue editing!!') });
         });

        $("#btnSubmit").click(function (event) {

            // Fetch form to apply custom Bootstrap validation
            var form = $("#formForgotPassword")
            if (form[0].checkValidity() === false) {

                event.preventDefault()
                event.stopPropagation()
            }

            //var password = $("input#txtPassword").val();
            //var repassword = $("input#txtReenterPassword").val();
            //if (password != repassword) {
            //    //$("input#txtReenterPassword")
            //    event.preventDefault()
            //    event.stopPropagation()
            //}
            form.addClass('was-validated');
            // Perform ajax submit here...

        });

        var password = document.getElementById("txtPassword")
            , confirm_password = document.getElementById("txtReenterPassword");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    });

</script>
