<header class="app-header navbar">
    <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img class="navbar-brand-full" src="~/images/brand/Gijimalogo.png" width="125" height="55" alt="Gijima Logo">
        <img class="navbar-brand-minimized" src="~/images/brand/Gijimalogo.png" width="80" height="30" alt="Gijima Logo">
    </a>
</header>