<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">Modules</li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Questionnaire"
                   asp-action="Index">&nbsp;&nbsp;&nbsp;<i class="fa fa-user-check fa-2x" style="color: darkgray;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Questionnaire</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-controller="Report"
                   asp-action="Index">&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-file-pdf fa-2x" style="color: darkgray;"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Report</a>
            </li>
        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>