
@{
    ViewData["Title"] = "Successfull";
    Layout = "~/Views/Shared/_LandingLayout.cshtml";
}
<div class="container-fluid">
    <div id="ui-view">
        <div>
            <div class="animated fadeInDown">
                <div class="row">
                    <div class="col-xl-2"></div>
                    <div class="col-sm-12 col-xl-8">
                        <div class="jumbotron">
                            <h1 class="display-3">Thank you for Registering !!</h1>
                            <p class="lead">
                                You have successfully registered!
                            </p>
                            <p> Please use your credentials (Email and Password) to login to application.</p>
                            <hr class="my-4">
                            <p>If you have any queries, please contact <a href="mailto:xxxx@gmail.com">Admin</a></p>
                            <p class="lead">
                                <a class="btn btn-xing active mt-3" asp-controller="Account"
                                   asp-action="Login">Login Now!</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-2"></div>
                </div>
            </div>
        </div>
    </div>
</div>
