
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<style>
    body {
        background-color: white;
    }
</style>*@

<div class="container-fluid">
    <div id="ui-view">
        <div>
            <div class="animated fadeInDown">
                <div class="row">
                    <div class="col-xl-1"></div>
                    <div class="col-sm-12 col-xl-10">
                        <div class="jumbotron" style="background-color: white;">
                            <h1 class="text-center">Office Ergonomics Self-Assessment Tool</h1>
                            <p class="lead">
                                Office workers who spend 4 or more hours per day at a computer workstation, report significantly greater levels of discomfort which lead to muscular discomfort and musculoskeletal disorders (MSDs).
                                The general approach to controlling these incidents is to create the relevant ergonomics awareness so that office employees are aware of the known ergonomics risk factors and are informed on how to reduce their exposure to these risk factors at their office workstations.
                            </p>
                            <p class="lead">
                                This self-assessment tool is a quick and easy-to-use tool that presents ergonomics issues in a simple questionnaire format. In addition to creating general ergonomics awareness, this tool also provides ergonomic guidance/solutions on safe working postures, behavior, and office furniture set up-that will reduce/eliminate musculoskeletal discomfort and prevent these discomforts from progressing to injuries in the future.
                            </p>
                            <p class="lead">
                                On completion of this self-assessment, based on your responses, a brief report will be generated for you. This report can be saved for future reference. All employees that are assigned a high-risk profile on their report will require a face-to-face consultation with A Certified Ergonomics Professional from Gijima Occupational Hygiene and Environmental Services.
                            </p>
                            <div class="lead text-center"><img src="~/images/information/ergoman2.png" /></div>
                            <p style="color:red;font-size:large;">Instructions</p>
                            <ol>
                                <li>
                                    Fill in all personal details as accurately as possible.
                                </li>
                                <li>
                                    Click the INFO button for further explanations on each question.
                                </li>
                                <li>
                                    On completion, click done to save report.
                                </li>
                            </ol>
                            <p>
                                    Rating Colours: <a class="btn btn-success active mr-3">Low Risk</a><a class="btn btn-warning active mr-3">Medium</a><a class="btn btn-danger active mr-3">High Risk</a>
                                </p>
                                <hr class="my-4">
                                <p>
                                    <a class="btn btn-xing active mt-3" asp-controller="Questionnaire"
                                       asp-action="Index">Get Started</a>
                                </p>
                        </div>
                    </div>
                    <div class="col-xl-1"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<div class="clearfix"></div>
<div class="container-fluid">
    <div id="ui-view">
        <div>
            <div class="animated fadeIn">
                <div class="row">
                </div>
            </div>
        </div>
    </div>
</div>
